{% extends 'base.html' %}

{% block style %}
<style>
    li {
        display: inline-block;
        border: 1px solid blue;
        padding: 10px 20px;
    }

    a {
        text-decoration: none;
        color: green;
    }
</style>
{% endblock %}

{% block content %}
{% include 'inc-menu.html' %}
<h2>Список товаров</h2>

<ol>
    {% for item in items %}
    <li>
        <b><a style="color:brown" , href="{% url 'item-detail' item.id %}"> {{ item.name }}</a></b>, {{ item.count }}
        шт,
        {{ item.description }}

    </li>
    {% endfor %}
</ol>

{% endblock %}